body{
   background-color: azure;
   max-width: 100%;
   overflow-x:hidden   ;
}
.heading{
    text-align: center;
}
.concepts{
    margin-left: 1rem;
}

.ps{
    margin-left: 1rem;
    display: block;
}
.ba{
    margin-left: 1rem;
}

.ho:hover{
    background-color: aqua;
}
.mm
{
   margin-left:1rem;
   margin-right:4px;
}
.row
{
   margin-right:5px;
}
